{% extends "base.html.twig" %}
{% block head %} {{ parent() }}  {% endblock %}
{% block header %} {{ parent() }} {% endblock %}
{% block nav %} {{ parent() }}  {% endblock %}
{% block content %}
    <h1> Expert VBA / Junior developpement WEB</h1>
    <ul> 
        <li> <a href="https://github.com/cherquic/monbloc-notes"> <h2> Mes compétences en PHP </h2> </a></li> 
        <li> <a href="https://www.malt.fr/profile/cherquiclotilde"> <h2> Mes compétences en VBA </h2> </a></li> 
    </ul>  
{% endblock %}
{% block footer %} {{ parent() }}  {% endblock %}